<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap Gallery Templates</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/fluid-gallery.css')}}">

</head>

<body>

    <div class="container gallery-container">
        <h1>Images Gallery</h1>
        <p class="page-description text-center">Menampilkan 100 data citra</p>
        <div class="tz-gallery">
            <!-- Start tampilkan data citra  -->
            <div class="row">
                {% for result in data %}
                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="{{url_for('static', filename='assets/images/')}}{{result}}">
                        <img src="{{url_for('static', filename='assets/images/')}}{{result}}" alt="Bridge">
                    </a>
                </div>
                {% endfor %}
            </div>
            <!-- End tampilkan data citra-->
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
</body>

</html>